.container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transform: scale(0);
    transition: .5s;
}

.container .tips{
    width: fit-content;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 30vw;
}

.container .tips svg{
    cursor: pointer;
    margin-left: 10px;
}

.container .tips div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, var(--theme), #fff);
}

.container .tips div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffffffd7;
}

.container .close{
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    place-items: center;
    color: var(--theme);
    padding: 5px;
    cursor: pointer;
}